.home-body {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #f8fdfb;
  color: #222;
}

/* Sidebar */
.home-sidebar {
  width: 22%;
  background-color: #111;
  color: white;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Trending topics */
.trending-box {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #111;
  color: #fff;
  transition: all 0.3s ease;
}

.trending-box.hovered {
  background-color: #e20074;
}

/* Main dashboard area */
.home-main {
  width: 78%;
  padding: 1.5rem;
}