.main-header {
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Small drop-shadow */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* Push logo to the right */
    align-items: center;
    padding: 0 1.5rem;
}

.header-logo {
    display: flex;
    align-items: center;
}