.map-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.map-image {
  width: 100%;
  object-fit: contain;
}


.map-button {
  position: absolute;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  aspect-ratio: 1 / 1; 
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.map-button:hover {
  opacity: 1;
  transform: scale(1.1);
}
